@import "./shared.scss";

.newContainer {
    color: $textColor;
    float: left;
    width: 30%;
    border: 1px solid $textColor;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    max-height: 160px;
    height: 160px;
    background-color: black;
}

@media screen and (max-width: 800px) {
    .newContainer{
        clear: both;
        width: 100%;
    }
}

.image {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 10px;
}